{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpTick</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/accounts_style.css' %}">
</head>

<body>

    <div class="container col-xl-10 col-xxl-8 px-4 d-flex justify-content-center align-items-center">
        <div class="row align-items-center g-lg-4">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1">{% block heading %} {% endblock heading%}</h1>
                <hr class="short-hr">
                <p class="col-lg-10 fs-4">
                    {% if request.path == '/accounts/login/' %}
                    Welcome Back! Access your account to manage tickets, track inventory, and stay updated on events.
                    {% elif request.path == '/accounts/logout/' %}
                    You’ve Logged Out Successfully! Your session has ended. See you again soon!
                    {% elif request.path == '/accounts/register-customer/' %}
                    Join Our Ticket Inventory System! Sign up now to manage tickets and stay on top of ticket sales.
                    {% endif %}
                </p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
            {% if messages %}
                {% for message in messages%}
                <div class="alert alert-primary" role="alert">
                    <b>{{ message }}</b>
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock content %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>