
main {
        font-family: 'Arial', sans-serif;
        background-color: #f1f3f5;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

/* When input is focused, change label color */
.form-floating input:focus + label {
    color: #0d6efd;
    text-shadow: 0 2px 4px rgba(13, 110, 253, 0.2);
}

.title-colour{
    color:#0d6efd;
}

.shadows{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.text-shadow {
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-floating label {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* For Button Text */
button {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.short-hr {
    width: 90%; /* Make the hr shorter */
    margin: 0 10px; /* Center the hr */
    border: 1px solid #0d6efd; /* Add a custom color for the hr */
    margin-top: 20px; /* Adjust space above hr */
    margin-bottom: 20px; /* Adjust space below hr */
}

/* Footer styles */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    main {
        height: 120vh;
    }
}