@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
/* Dashboards*/
.shadows{
    box-shadow: 5px 5px 5px rgb(13, 110, 253, 0.2);
}
/* Customer active tickets */