{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="one">
  <h1>Resolved Tickets:<span> {{resolved_tickets}} </span></h1>
</div>
<button onclick="window.history.back();" class="btn btn-outline-primary btn-sm">Go Back</button>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-3 mb-3">
  {% for ticket in page_obj %}
  <div class="col">
    <div class="profile-card">
      <div class="header-bg"> {{ ticket.ticket_title }}</div>
      <h2 class="name">{{ticket.ticket_id}}</h2>
      <p class="title">
        {% if ticket.status == 'Pending' %}
        <span class="badge bg-warning">Pending</span>
        {% elif ticket.status == 'Active' %}
        <span class="badge bg-success">Active</span>
        {% elif ticket.status == 'Resolved' %}
        <span class="badge bg-danger">Resolved</span>
        {% endif %}
      </p>
      <div class="buttons">
        <a class="btn btn-primary btn-sm" href="{% url 'ticket-details' ticket.ticket_id %}">View Details</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Created {{ticket.created_on|naturaltime}}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li>
    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
  </li>
  {% endif %}
  {% if page_obj.has_next %}
  <li>
    <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
  </li>
  {% endif %}
<hr>
{% endblock content %}