{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<div class="one">
  <h1>Active Tickets:<span> {{active_tickets}} </span></h1>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  {% for ticket in tickets %}
  <div class="col">
    <div class="profile-card">
      <div class="header-bg"> {{ ticket.ticket_title }}</div>
      <i class="far fa-heart"></i>
      <h2 class="name">{{ticket.ticket_id}}</h2>
      <p class="title">
        {% if ticket.status == 'Pending' %}
        <span class="badge bg-warning">Pending</span>
        {% elif ticket.status == 'Active' %}
        <span class="badge bg-success">Active</span>
        {% elif ticket.status == 'Resolved' %}
        <span class="badge bg-danger">Resolved</span>
        {% endif %}
      </p>
      <div class="buttons">
        <a class="btn btn-primary btn-sm" href="{% url 'ticket-details' ticket.ticket_id %}">View Details</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Created {{ticket.created_on|naturaltime}}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<hr>
<button onclick="window.history.back();" class="btn btn-primary">Go Back</button>
{% endblock content %}