{% extends 'base.html' %}

{% block content %}
<div class="row p-5 mb-4 bg-light rounded-3">
    <div class="col-md-6">
        <div class=" py-5">
            <h1 class="display-6 fw-bold">{{ticket.ticket_title}}</h1>
            <p class="">
                {{ticket.ticket_description}}
            </p>
            {% if ticket.status == 'Pending' %}
            <span class="badge bg-warning">Pending</span>
            {% elif ticket.status == 'Active' %}
            <span class="badge bg-success">Active</span>
            {% elif ticket.status == 'Resolved' %}
            <span class="badge bg-danger">Resolved</span>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <div class=" py-5">
                    <h2 class="display-6">Quick Info</h2>
                    <p>Here are some quick information about the ticket and the customer that you are supporting.
                    </p>
                    <ul class="icon-list">
                        <li><b>Ticket Unique ID:</b> {{ticket.ticket_id}}</li>
                        <li><b>Customer:</b> {{ticket.customer}}</li>
                        <li><b> Engineer:</b> {{ticket.engineer}}</li>
                        <li><b>Created On:</b> {{ticket.created_on}}</li>
                        <li><b>Severity:</b> {{ticket.severity}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_engineer %}
    <div class="resolve-button">
        <button class="btn btn-warning mt-3" data-type="resolve-btn">Resolve</button>
    </div>

    <!-- Modal -->
    <div id="resolve-screen-hidden">
        <div class="resolve-form container">
            <div id="close" data-type="close-btn"><i class="fa-solid fa-x"></i></div>
            <div id="resolve-description">
                <h5>Resolution Steps</h5>
                <form action="{% url 'resolve-ticket' ticket.ticket_id%}" method="POST"> <!-- action resolve view needs created -->
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Here's how the issue was resolved</label>
                        <textarea class="form-control" rows="3" name="rs"></textarea>
                    </div>
                    <button class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<button onclick="window.history.back();" class="btn btn-primary small">Go Back</button>
{% endblock content %}