{% extends 'base.html' %}
{% block content %}
<div class="row p-5 mb-4 bg-light rounded-3">
    <div class="col-md-6">
        <div class=" py-5">
            <h1 class="display-6 fw-bold">{{ticket.ticket_title}}</h1>
            <p>
                {{ticket.ticket_description}}
            </p>
            {% if ticket.status == 'Pending' %}
            <span class="badge bg-warning">Pending</span>
            {% elif ticket.status == 'Active' %}
            <span class="badge bg-success">Active</span>
            {% elif ticket.status == 'Resolved' %}
            <span class="badge bg-danger">Resolved</span>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <div class=" py-5">
                    <h2 class="display-6">Quick Info</h2>
                    <p>Here are some quick information about the ticket and the customer that you are supporting.
                    </p>
                    <ul class="icon-list">
                        <li><b>Ticket Unique ID:</b> {{ticket.ticket_id}}</li>
                        <li><b>Customer:</b> {{ticket.customer}}</li>
                        <li><b> Engineer:</b> {{ticket.engineer}}</li>
                        {% if ticket.is_resolved %}
                        <li><b>Modified On:</b> {{ticket.last_modified}}</li>
                        {% endif %}
                        <li><b>Created On:</b> {{ticket.created_on}}</li>
                        {% if user.is_customer %}
                        <a href="{% url 'delete-ticket' ticket.ticket_id %}" class="btn btn-sm btn-danger mt-4">
                            Delete
                          </a>
                        {% if user.is_customer %}
                        {% if ticket.status == 'Active' or ticket.status == 'Pending' %}
                        <a href="{% url 'edit-ticket-description' ticket.ticket_id %}" class="btn btn-warning btn-sm mt-4">
                            Edit Description
                        </a>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if ticket.is_resolved %}
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Resolution Steps</h5>
            {{ticket.resolution_steps}}
        </div>
    </div>
    {% endif %}
    <hr class="mt-3">
    {% if user.is_engineer %}
    {% if ticket.is_resolved%}
    <div class="resolve-button">
        <button class="btn btn-warning mt-3" data-type="resolve-btn">Edit Resolution steps</button>
    </div>
    {% else %}
    <div class="resolve-button">
        <button class="btn btn-warning mt-3" data-type="resolve-btn">Resolve</button>
    </div>
    {% endif%}
    <!-- Modal -->
    <div id="resolve-screen-hidden">
        <div class="resolve-form container">
            <div id="close" data-type="close-btn"><i class="fa-solid fa-x"></i></div>
            <div id="resolve-description">
                <h5>Resolution Steps</h5>
                <form action="{% url 'resolve-ticket' ticket.ticket_id%}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Here's how the issue was resolved</label>
                        <textarea class="form-control" rows="3" name="rs"></textarea>
                    </div>
                    <button class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<button onclick="window.history.back();" class="btn btn-primary small">Go Back</button>
{% endblock content %}